@import "src/consts/colors";

$widthForm: 800px;
$heightForm: 500px;
$heightHeaderForm:60px;
$heightChoiceForm:30px;

.form {
  width: $widthForm;
  height: $heightForm;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 1px 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .headerForm {
    background-color: $backgroundColor;
    height:$heightHeaderForm;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    p {
      font-size: 30px;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  .choiceForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $heightChoiceForm;
    margin-bottom: 20px;
    justify-content: center;

    button{
      font-size: 20px;
      border-radius: 20px;
      padding: 0 20px;
      width: 30%;
      margin: 0 10px;
    }

    button:hover:enabled{
      background-color: #dee2e6;
    }
  }

  .wrapperForm{
    padding: 0 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: calc($heightForm - $heightHeaderForm - $heightChoiceForm);
    overflow-y: auto;
    overflow-x: hidden;
  }

}